body {
    font-family: Arial;
    line-height: 1.14;
    color: #000;
}

#form {
    width: 300px;
    margin: 0 auto;
}

.radio-list,
.checkbox-list {
    display: block;
    margin-bottom: 10px;
}

.radio,
.checkbox {
    display: inline-block;
    vertical-align: top;
    text-align: left;
    font-size: 14px;
}

.radio__input,
.radio__label {
    display: inline-block;
    vertical-align: middle;
}

.radio__label,
.radio__input,
.checkbox__label,
.checkbox__input {
    cursor: pointer;
}

.input-text {
    display: block;
    box-sizing: border-box;
    padding: 0 5px;
    width: 100%;
    height: 27px;
    font-size: 14px;
    margin-bottom: 10px;
}

.textarea {
    display: block;
    box-sizing: border-box;
    resize: none;
    padding: 5px;
    width: 100%;
    height: 50px;
    font-size: 14px;
    margin-bottom: 10px;
}

.input-file {
    display: block;
    cursor: pointer;
    width: 100%;
    margin-bottom: 10px;
}

#form button {
    background-color: #191919;
    display: block;
    margin: 0 auto;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    color: #fff;
    font-size: 14px;
    text-transform: uppercase;
}

.file-list {
    width: 100%;
    list-style: none;
    padding-left: 0;
    margin-bottom: 10px;
}

.file-list li {
    position: relative;
    display: block;
    text-align: left;
    padding: 6px 0 8px;
    margin-bottom: 5px;
}

.file-list li:last-child {
    margin-bottom: 0;
}

.file_remove {
    background: url("../images/icon/close.png") no-repeat center;
    cursor: pointer;
    width: 30px;
    height: 30px;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1;
}

.progress-bar {
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 0;
    background-color: green;
    height: 2px;
    transition: 0.3s ease;
    -ms-transition: 0.3s ease;
}

